

body {
  font-size: 16px;
  /*background-color: #ccc;*/
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
/* HEADER */
#header-nav {
    /*background-color: #558da9;*/
    background-color: #FFFFFF;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}
.navbar-brand {
    padding-top: 25px;
}
.navbar-brand h1 { /* CHIVE name of application */
    font-family: 'Roboto', sans-serif;
    color: #558da9;
    /*color: #FFFFFF;*/
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    /*text-shadow: 1px 1px 1px #222;*/
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand p { /* acronym words below title */
    color:#6a7484;
    /*color: #000000;*/
    text-transform: capitalize;
    font-size: .5em;
    margin-top: 5px;
    margin-bottom: 10px;
}
.navbar-brand p span {
    vertical-align: middle;
}
#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: #558da9;
    /*color: #FFFFFF;*/
    text-align: center;
}
#nav-list a:hover {
    background: #E7E7E7;
}
#nav-list a span { /* size of icons */
    font-size: 1.2em;
}
#phone {
    margin-top: 5px;
}
#phone a { /* phone number */
    text-align: right;
    padding-bottom: 0;
 }
 #phone div { /* we deliver*/
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
  }
li { /* changing size of text under icons */
    font-size: 12px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar { /* change color of nav bar when screen is small*/
    border: 1px solid #558da9;
}
.navbar-header button.navbar-toggle {
    clear: left;
    margin-top: -35px;
    margin-bottom: 30px;

}
.glyphicon.glyphicon-fire {
    font-size: 70px;
    margin: 10px 15px 10px 0;
    color: #558da9;
}

/* END HEADER */

#content {
  background-color: #FFFFFF; /* white */
}
.style {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  /*font-style: italic;*/
  font-weight: bold;
  font-size: 15px; /* points (pt) are used in print, not screen.*/
  text-transform: uppercase;
  text-align: center;
  margin-left: 15px;
  position: relative;

}
.container {
    font-family: 'Roboto', sans-serif;
    color: #558da9;
    background-color: #FFFFFF; /* white */
    display: flex;
    justify-content: left;
    height:100%;
    width: 100%;
    position: relative;
}

test {
      float: left;
   margin: 10px;
   padding: 10px;
   max-width: 300px;
   height: 300px;
   border: 1px solid black;
   }

figure {
    display: inline-block;
    text-align: center;
    width: 5%;
}
figcaption {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: bold;
}
#box {
  background-color: #558da9;
  padding: 10px;
  /*border: 1px solid black;*/
  width: 100%;
  height: 30px;
  margin-top: 0px;
  /*overflow: auto;*/
}
#box2 {
  background-color: #558da9;
  padding: 5px;
  /*border: 1px solid black;*/
  width: 100%;
  height: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*overflow: auto;*/
}
.box3 {
  background-color: #FFFFFF;
  padding: 5px;
  /*border: 1px solid black;*/
  width: 100%;
  height: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*overflow: auto;*/
}
.box2 {
  background-color: #558da9;
  padding: 5px;
  /*border: 1px solid black;*/
  width: 100%;
  height: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*overflow: auto;*/
}
table {
  border-collapse:separate;
  border-radius:6px;
  -moz-border-radius:6px;
  font-family: 'Roboto', sans-serif;
  width: 50%;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;

  /* Table reset stuff */
  /*border-collapse: collapse; border-spacing: 0; */
}
th {
    background-color: #558da9;
    border:solid white 1px;
    border-radius:4px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 3px;
    -moz-border-radius:3px;
    position: center;
    text-align: center;
    color: white;
    white-space: nowrap;
}
td {
    border-radius:4px;
    -moz-border-radius:3px;
    position: center;
    /*color: #000000;*/
    white-space: nowrap;
}
/*
This query will take effect for any screen smaller than 760px
and also iPads specifically. This will make the table content easier
to view on mobile device screens
*/
@media
only screen and (max-width: 760px),
(min-device-width: 300px) and (max-device-width: 1024px)
/*(min-device-width: 768px) and (max-device-width: 1024px)*/{

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        font-size: 12px;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        font-size: 12px;
        top: 1px;
        left: 6px;
        bottom: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Type"; }
    td:nth-of-type(2):before { content: "Device"; }
    td:nth-of-type(3):before { content: "Temp"; }
    td:nth-of-type(4):before { content: "Condition"; }
    td:nth-of-type(5):before { content: "Timestamp"; }

  }

div#heatMap.custom-design {
  width: 700px;
  height: 700px;
  padding: 50px;
  text-align: center;
  background: white;
  background: url("/static/floor_plan.png");
  background-size: 100% 100%;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50%);
  transform-origin: center center;
}

.scaleable-wrapper {
 padding: 20px;
  resize: both;
  position: relative;
  background: #558da9;
  height: 800px;
}


