.belownormal {
    color: blue;
}
.normal {
    color: green;
}
.abovenormal {
    color: yellow;
}
.high {
    color: red;
}

.grey {
     color: #ccc;
}

.white {
     color: #FFF
}

.underline {
    text-decoration: underline;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 50%;
  height: 50%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 30%;
  min-height: 30%;
}


#container {
width: 500px;
height: 800px;
overflow: hidden;
border: 3px double #000;
white-space: nowrap;
}

#container img {display: inline-block; margin: 0 100px;}

.imageContainer {
    float: right;
}


#table tr td:nth-child(3) {
#    background: #ccc;
#}


body {
    padding-top: 65px;
}