{% extends "base_layout.html" %}
{% block content %}
<div class="table-responsive" xmlns="http://www.w3.org/1999/html"></div>
                        <!-- this is used for legend -->
                        <style>
                                dl
                                    {
                                        width: 350px;
                                        background: #fff;
                                        border: 2px solid #000;
                                        padding: 10px 15px;
                                    }
                                dt
                                {
                                    display: inline;
                                    align="justify";
                                }
                                dd
                                {
                                    display: inline;
                                    align="justify";
                                }
                        </style>

                    <div align="left">
                    <dl>
                        <dt> KEY : Temperature Conditions </dt>
                        <p>_____________________________________</p>
                        <dt><IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_RED.gif" alt="Cisco_ACI_Icons_RED"><text>  HIGH      |     </text><IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_YELLOW.gif" alt="Cisco_ACI_Icons_YELLOW">    ELEVATED  |  <IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_GREEN.gif" alt="Cisco_ACI_Icons_GREEN">    NORMAL </dt>
                        <p></p>
                        <dt align="left"><font color="red">60&degc or higher</font> | <font color="#ffce00">59&degc to   49&degc</font> | <font color="green">48&degc or lower</font> </dt>
                    </dl>
                    </div>


            <br>
            <div id="table">
            <table class="table-striped"border="2" style="...">
                <thead>
                <tr>
                    <th bgcolor=black align="justify"><font color="white"</font>Type</th>
                    <th bgcolor=black align="justify"><font color="white"</font>Device</th>
                    <th bgcolor=black align="justify"><font color="white"</font>Temp</th>
                    <th bgcolor=black align="justify"><font color="white"</font>Condition</th>
                    <th bgcolor=black align="justify"><font color="white"</font>Timestamp</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                {% for d in devices.keys() %}
                    <td align="center">{{devices[d]['type']}}</td>
                    <td align="center">{{d}}</td>
                    <td align="center">{{devices[d]['temp']}}</td>
                    <td align="center">{{devices[d]['condition']}}</td>
                    <td align="center">{{devices[d]['timestamp']}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <br>
            </div>


            <div id="container">
             {% for d in devices.keys() %}
                   {% set condition = devices[d].condition %}
                   {% set temp = devices[d].temp %}
                    {% if condition == 'high' %}
                        <p></p>
                        <p><IMG id=red HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_RED.gif" alt="Cisco_ACI_Icons_RED"><b>{{d}} : <font color="red">{{devices[d]['temp']}}&degc</font></b> </p>
                        <!--  <ln>{{devices[d]['temp']}} </ln> -->
                        <br>
                    {% elif condition == 'elevated' %}
                        <p></p>
                        <p><IMG id=yellow HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_GREEN.gif" alt="Cisco_ACI_Icons_YELLOW"><b>{{d}} : <font color="#ffce00">{{devices[d]['temp']}}&degc</font></b> </p>
                        <!--  <ln>{{devices[d]['temp']}} </ln> -->
                        <br>
                    {% else %}
                        <!-- <p>{{d}} :  {{devices[d]['temp']}} &degc <IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_GREEN.gif" alt="Cisco_ACI_Icons_GREEN"></p> -->
                        <p></p>
                        <div draggable="true">
                        <p><IMG id="green" HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_GREEN.gif" alt="Cisco_ACI_Icons_GREEN"><b>{{d}} : <font color="green">{{devices[d]['temp']}}&degc</font></b>   </p>
                        <!--  <ln>{{devices[d]['temp']}} </ln> -->
                        </div>

                    {% endif %}

             {% endfor %}
             </div>





  </body>

{% endblock %}