{% extends "base_layout.html" %}
{% block content %}
<div class="table-responsive" xmlns="http://www.w3.org/1999/html"></div>

                        <style>
                                dl
                                    {
                                        width: 300px;
                                        background: #fff;
                                        border: 3px solid #000;
                                        padding: 5px 15px;
                                    }

                                dt
                                {
                                    display: inline;
                                }

                                dd
                                {
                                    display: inline;
                                }
                        </style>

                    <dl>
                        <p> KEY : Temperature Conditions </p>
                        <dt><IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_RED.gif" alt="Cisco_ACI_Icons_RED"></dt>
                        <dd>  - High </dd>

                        <dt><IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_YELLOW.gif" alt="Cisco_ACI_Icons_YELLOW"></dt>
                        <dd>  - Elevated </dd>

                        <dt><IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_GREEN.gif" alt="Cisco_ACI_Icons_GREEN"></dt>
                        <dd>  - Normal </dd>
                    </dl>

               <!-- <h3> LEGEND - Temperature Conditions</h3>
                <table width="100%" border="0">
                <tr>

                    <td><IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_RED.gif" alt="Cisco_ACI_Icons_RED" align="left" /></td>
                        <th align="left">High : TEMP > than 60&degc </th>
                    <td><IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_YELLOW.gif" alt="Cisco_ACI_Icons_YELLOW" align="left" /></td>
                       <th align="center">Elevated : TEMP between 48&degc and 60&degc</th>
                    <td><IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_GREEN.gif" alt="Cisco_ACI_Icons_GREEN" align="left" /></td>
                       <th align="right">Normal TEMP < 48&degc </th></th>
                </tr>
                 </table> -->

            <br>
            <table class="table-striped"border="2" style="...">
                <thead>
                <tr>
                    <th bgcolor=lightgrey>Type</th>
                    <th bgcolor=lightgrey>Device</th>
                    <th bgcolor=lightgrey>Temp</th>
                    <th bgcolor=lightgrey>Condition</th>
                    <th bgcolor=lightgrey>Timestamp</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                {% for d in devices.keys() %}
                    <td >{{devices[d]['type']}}</td>
                    <td >{{d}}</td>
                    <td >{{devices[d]['temp']}}</td>
                    <td >{{devices[d]['condition']}}</td>
                    <td >{{devices[d]['timestamp']}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <br>
            <br>

            <div id="container">
             {% for d in devices.keys() %}
                   {% set condition = devices[d].condition %}
                   {% set temp = devices[d].temp %}
                    {% if condition == 'high' %}
                        <p>{{d}} :  {{devices[d]['temp']}} &degc <IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_RED.gif" alt="Cisco_ACI_Icons_RED"> </p>
                        <p></p>
                        <!--  <ln>{{devices[d]['temp']}} </ln> -->
                        <br>
                    {% elif condition == 'elevated' %}
                        <IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_YELLOW.gif" alt="Cisco_ACI_Icons_YELLOW">
                        <p>{{d}} :  {{devices[d]['temp']}} &degc </p>
                        <!--  <ln>{{devices[d]['temp']}} </ln> -->
                        <br>
                    {% else %}
                        <!-- <p>{{d}} :  {{devices[d]['temp']}} &degc <IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_GREEN.gif" alt="Cisco_ACI_Icons_GREEN"></p> -->
                        <p>{{d}}</p>
                        <p><IMG HEIGHT="45" WIDTH="30" SRC="/static/Cisco_ACI_Icons_GREEN.gif" alt="Cisco_ACI_Icons_GREEN"></p>p>
                        <p>:  {{devices[d]['temp']}} &degc </p>
                        <!--  <ln>{{devices[d]['temp']}} </ln> -->
                        <br>
                    {% endif %}
             {% endfor %}
             </div>

                        <style>
                                dl
                                    {
                                        width: 300px;
                                        background: #fff;
                                        border: 1px solid #000;
                                        padding: 5px 15px;
                                    }

                                dt, dd
                                {
                                    display: inline;
                                }
                        </style>

                    <h2>Drag and Drop</h2>
                    <p>Drag the image back and forth between the two div elements.</p>

                    <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <img src="/static/Cisco_ACI_Icons_RED.gif" draggable="true" ondragstart="drag(event)" id="drag1" width="30" height="45">
                    </div>

                    <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

           <body ondragover="drag_over(event)" ondrop="drop(event)">
           <ul>
          <li id="txt1" draggable="true" ondragstart="drag_start(event)"> Drag this text </li><br>
          <li id="txt2" draggable="true" ondragstart="drag_start(event)"> Drag me</li>

               <h2>Test Dragging</h2>

                         var canvas;
          var ctx;
var WIDTH;
var HEIGHT;
var INTERVAL = 20;  // how often, in milliseconds, we check to see if a redraw is needed

var isDrag = false;
var mx, my; // mouse coordinates

 // when set to true, the canvas will redraw everything
 // invalidate() just sets this to false right now
 // we want to call invalidate() whenever we make a change
var canvasValid = false;

// The node (if any) being selected.
// If in the future we want to select multiple objects, this will get turned into an array
var mySel;

// The selection color and width. Right now we have a red selection with a small width
var mySelColor = '#CC0000';
var mySelWidth = 2;

// we use a fake canvas to draw individual shapes for selection testing
var ghostcanvas;
var gctx; // fake canvas context

// since we can drag from anywhere in a node
// instead of just its x/y corner, we need to save
// the offset of the mouse when we start dragging.
var offsetx, offsety;

// Padding and border style widths for mouse offsets
var stylePaddingLeft, stylePaddingTop, styleBorderLeft, styleBorderTop;

// initialize our canvas, add a ghost canvas, set draw loop
// then add everything we want to intially exist on the canvas
function init() {
  canvas = document.getElementById('canvas');
  HEIGHT = canvas.height;
  WIDTH = canvas.width;
  ctx = canvas.getContext('2d');
  ghostcanvas = document.createElement('canvas');
  ghostcanvas.height = HEIGHT;
  ghostcanvas.width = WIDTH;
  gctx = ghostcanvas.getContext('2d');

  //fixes a problem where double clicking causes text to get selected on the canvas
  canvas.onselectstart = function () { return false; }

  // fixes mouse co-ordinate problems when there's a border or padding
  // see getMouse for more detail
  if (document.defaultView && document.defaultView.getComputedStyle) {
    stylePaddingLeft = parseInt(document.defaultView.getComputedStyle(canvas, null)['paddingLeft'], 10)      || 0;
    stylePaddingTop  = parseInt(document.defaultView.getComputedStyle(canvas, null)['paddingTop'], 10)       || 0;
    styleBorderLeft  = parseInt(document.defaultView.getComputedStyle(canvas, null)['borderLeftWidth'], 10)  || 0;
    styleBorderTop   = parseInt(document.defaultView.getComputedStyle(canvas, null)['borderTopWidth'], 10)   || 0;
  }

  // make draw() fire every INTERVAL milliseconds.
  setInterval(draw, INTERVAL);

  // add our events. Up and down are for dragging,
  // double click is for making new boxes
  canvas.onmousedown = myDown;
  canvas.onmouseup = myUp;
  canvas.ondblclick = myDblClick;

  // add custom initialization here:

  // add an orange rectangle
  addRect(200, 200, 40, 40, '#FFC02B');

  // add a smaller blue rectangle
  addRect(25, 90, 25, 25, '#2BB8FF');
}
         </ul>



  </body>

{% endblock %}